# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [2]:
# 記得先 Import 正確的套件
import pandas as pd

data = {'Apples': [30],
        'Bananas':[21]}

frame = pd.DataFrame(data)
print(frame)
'''
Your Code
'''

   Apples  Bananas
0      30       21

'\nYour Code\n'

In [3]:
data1 = {'Apples': [30, 41],
        'Bananas':[21, 34]
       }

frame1 = pd.DataFrame(data1, index = ['2017 Sales', '2018 Sales'])
print(frame1)


'''
Your Code
'''

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

'\nYour Code\n'

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [6]:
data2 = {'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
         'visitor': [139, 237, 139, 456],
         'weekday': ['Sun', 'Sun', 'Mon', 'Mon']
       }
frame2 = pd.DataFrame(data2)
print(frame2)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

Sun 188.0
Mon 297.5

In [40]:
# print(frame2.loc[:, 'weekday'])
df3 = frame2.loc[:, 'visitor'][frame2.weekday == 'Sun']
df4 = frame2.loc[:, 'visitor'][frame2.weekday == 'Mon']
print(df3)
print(df4)
print(df3.mean())
print(df4.mean())




# def weekday_visitor_mean(df, weekday):
#     return df.loc[weekday].mean()

# print(weekday_visitor_mean(frame2, 'weekday'))

0    139
1    237
Name: visitor, dtype: int64
2    139
3    456
Name: visitor, dtype: int64
188.0
297.5