# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
import pandas as pd
import numpy as np

'''
Your Code
'''

'\nYour Code\n'

In [48]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)

# - 計算每個不同種類 animal 的 age 的平均數
# print(df['animal'] == 'cat')
# print(df['age'][df['animal'] == 'cat'])

def animal_age_mean(animal):
    age = df['age'][df['animal'] == animal]
    return age.mean()


print('cat_age_mean: ', animal_age_mean('cat'))
print('snake_age_mean: ',animal_age_mean('snake'))
print('dog_age_mean: ',animal_age_mean('dog'))


# - 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df_sorted = df.sort_values(by=['age', 'visits'], ascending=[True, False])
print(df_sorted)

# - 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False

priority = df['priority'] == 'yes'
print(priority)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
cat_age_mean:  2.5
snake_age_mean:  2.5
dog_age_mean:  5.0
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

In [ ]:
'''
Your Code
'''

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [55]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
column_mean = df.mean(axis=0)
row_mean = df.mean(axis=1)
print(column_mean)
print(row_mean)
ans1 = df - column_mean
ans2 = df - row_mean
print(ans1)
print(ans2)

          0         1         2
0  0.237185  0.859113  0.619694
1  0.260810  0.837201  0.287469
2  0.806600  0.163442  0.472282
3  0.962597  0.317014  0.947646
4  0.286504  0.360712  0.037119
0    0.510739
1    0.507496
2    0.472842
dtype: float64
0    0.571997
1    0.461827
2    0.480775
3    0.742419
4    0.228112
dtype: float64
          0         1         2
0 -0.273554  0.351616  0.146852
1 -0.249930  0.329705 -0.185373
2  0.295861 -0.344055 -0.000560
3  0.451858 -0.190483  0.474804
4 -0.224235 -0.146784 -0.435723
          0         1         2   3   4
0 -0.334812  0.397286  0.138919 NaN NaN
1 -0.311188  0.375375 -0.193306 NaN NaN
2  0.234603 -0.298385 -0.008492 NaN NaN
3  0.390600 -0.144813  0.466872 NaN NaN
4 -0.285493 -0.101114 -0.443656 NaN NaN

In [31]:
'''
Your Code
'''

          0         1         2
0  0.130010  0.316253  0.158839
1  0.148624 -0.524442  0.117382
2 -0.085726  0.073242 -0.620083
3  0.129444  0.056036  0.155504
4 -0.322352  0.078911  0.188358

In [32]:
'''
Your Code
'''

          0         1         2
0 -0.068501  0.014680  0.053821
1  0.237960 -0.538169  0.300209
2  0.128320  0.184225 -0.312545
3  0.018972 -0.157497  0.138525
4 -0.300801 -0.002600  0.303401

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [67]:
print(df)
print(df.sum(axis=1))
print(min(df.sum(axis=1)))
print(df.sum(axis=0))
print(min(df.sum(axis=0)))

          0         1         2
0  0.237185  0.859113  0.619694
1  0.260810  0.837201  0.287469
2  0.806600  0.163442  0.472282
3  0.962597  0.317014  0.947646
4  0.286504  0.360712  0.037119
0    1.715991
1    1.385480
2    1.442324
3    2.227257
4    0.684335
dtype: float64
0.6843352735631902
0    2.553696
1    2.537482
2    2.364210
dtype: float64
2.3642100371014063

In [34]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

2

In [35]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

0