In [1]:
import numpy as np 

b = np.arange(12).reshape(3, 4)
# array([[ 0,  1,  2,  3],
#        [ 4,  5,  6,  7],
#        [ 8,  9, 10, 11]])

In [2]:
print(b.sum())
# 66

print(b.sum(axis=0))
# array([12, 15, 18, 21])

print(b.sum(axis=1))
# array([0, 4, 8])

66
[12 15 18 21]
[ 6 22 38]

In [3]:
import numpy as np 

np.searchsorted([1,2,3,4,5], 3)
# 2

2

In [3]:
import numpy as np 

a = np.arange(3) ** 3

print(np.arange(3))

for i in a:
    print(i)
# 0
# 1 
# 8

[0 1 2]
0
1
8

In [2]:
import pandas as pd

s = pd.Series([1, 2, 3])
print(s)
# 0    1
# 1    2
# 2    3
# dtype: int64
print(type(s))
# <class 'pandas.core.series.Series'>

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
import pandas as pd

s = pd.Series([1, 2, 3])
print(s)
print(s.shape) # (3, )
print(s.size) # 3
print(s.dtype) # int64

0    1
1    2
2    3
dtype: int64
(3,)
3
int64