## 今天的作業
在鐵達尼資料集中，以Titanic_train.csv 中，首先將有遺失值的數值刪除，試著將課堂中所學的方法應用上去。
* Q1: 目標變數為 Survived，以 Pclass, Age, SibSp, Parch, Fare,Sex, Embarked 為特徵，試著用今天教授的包裝法，搭配課程所教的 SVC，試著排出其餘特徵的重要性。

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
print(sklearn.__version__)
#如果只有 0.19 記得要更新至 最新版本
print(pd.__version__)
%matplotlib inline




# 特徵選取會用到的函數
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing

from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVC

0.23.2
1.1.3

## 讀入資料

In [2]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [3]:
#1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態      
#2.把題目中的 Survived 用 Survived_cate 來做分析    
df_train['Survived_cate']=df_train['Survived']
df_train['Survived_cate']=df_train['Survived_cate'].astype('object')
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          204 non-null    object
 11  Embarked       889 non-null    object
 12  Survived_cate  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None

In [4]:
#我們先把遺失值刪除
## 取出資料後，把遺失值刪除
complete_data=df_train.dropna()

#排除 Ｎame 當特徵，先刪除每一個人都是獨特的資料，先檢視其他變數
complete_data=complete_data.drop(['Name','Ticket','PassengerId'], axis=1)
display(complete_data.head(5))

print(complete_data.shape)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived_cate
1,1,1,female,38.0,1,0,71.2833,C85,C,1
3,1,1,female,35.0,1,0,53.1000,C123,S,1
6,0,1,male,54.0,0,0,51.8625,E46,S,0
10,1,3,female,4.0,1,1,16.7000,G6,S,1
11,1,1,female,58.0,0,0,26.5500,C103,S,1

(183, 10)

In [5]:
num_features = []
for dtype, feature in zip(complete_data.dtypes, complete_data.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

6 Numeric Features : ['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [6]:
cat_features = []
for dtype, feature in zip(complete_data.dtypes, complete_data.columns):
    if dtype == 'object':
        cat_features.append(feature)
print(f'{len(cat_features)} category Features : {cat_features}\n')

4 category Features : ['Sex', 'Cabin', 'Embarked', 'Survived_cate']

## 定義 x,y

In [7]:
x=complete_data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare','Sex', 'Embarked']]
y=complete_data['Survived']
display(x.head(5))
display(y.head(5))

    Pclass   Age  SibSp  Parch     Fare     Sex Embarked
1        1  38.0      1      0  71.2833  female        C
3        1  35.0      1      0  53.1000  female        S
6        1  54.0      0      0  51.8625    male        S
10       3   4.0      1      1  16.7000  female        S
11       1  58.0      0      0  26.5500  female        S

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

### Q1: 目標變數為 Survived，試著用今天教授的包裝法，搭配課程所教的 SVC，試著排出其餘特徵的重要性!

In [28]:
#離散要轉換成數值，['Sex', 'Embarked']
# Sex
sex_mapping = {
           'male': 1,
           'female': 0}
complete_data['Sex1'] = complete_data['Sex'].map(sex_mapping).astype('object')

# embarked
embarked_mapping = {
           'C': 1,
           'Q': 2,
           'S': 0}
complete_data['Embarked1'] = complete_data['Embarked'].map(embarked_mapping).astype('object')

# Pclass, Parch
complete_data['Pclass_cate']=complete_data['Pclass'].astype('object')
complete_data['Parch_cate']=complete_data['Parch'].astype('object')
complete_data['SibSp_cate']=complete_data['SibSp'].astype('object')

# Sex+Age
def age_map2(row): 
    if (row.Sex=='female'):
        return('1')
    else: 
        if(row.Age>=65):
            return('1')
        else:
            return('0')

# Fare
display(complete_data.Fare.describe())
complete_data['Age_above65_female']=complete_data[['Age','Sex']].apply(age_map2,axis=1)

def fare_map(x): 
    if x <= 30:
        return('0')
    elif x <= 60: 
        return('1')
    elif x <= 90: 
        return('2')
    else:
        return('3')

complete_data['Fare_cate']=complete_data['Fare'].apply(fare_map)

display(complete_data)
print(complete_data.info())

count    181.000000
mean      78.557413
std       76.761454
min        0.000000
25%       29.700000
50%       56.929200
75%       90.000000
max      512.329200
Name: Fare, dtype: float64

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Survived_cate,Sex1,Embarked1,Pclass_cate,Parch_cate,Age_above65_female,Fare_cat,SibSp_cate,Fare_cate
1,1,1,female,38.00,1,0,71.2833,C85,C,1,0,1,1,0,1,2,1,2
3,1,1,female,35.00,1,0,53.1000,C123,S,1,0,0,1,0,1,1,1,1
6,0,1,male,54.00,0,0,51.8625,E46,S,0,1,0,1,0,0,1,0,1
10,1,3,female,4.00,1,1,16.7000,G6,S,1,0,0,3,1,1,0,1,0
11,1,1,female,58.00,0,0,26.5500,C103,S,1,0,0,1,0,1,0,0,0
21,1,2,male,34.00,0,0,13.0000,D56,S,1,1,0,2,0,0,0,0,0
23,1,1,male,28.00,0,0,35.5000,A6,S,1,1,0,1,0,0,1,0,1
27,0,1,male,19.00,3,2,263.0000,C23 C25 C27,S,0,1,0,1,2,0,3,3,3
52,1,1,female,49.00,1,0,76.7292,D33,C,1,0,1,1,0,1,2,1,2
54,0,1,male,65.00,0,1,61.9792,B30,C,0,1,1,1,1,1,2,0,2
62,0,1,male,45.00,1,0,83.4750,C83,S,0,1,0,1,0,0,2,1,2
66,1,2,female,29.00,0,0,10.5000,F33,S,1,0,0,2,0,1,0,0,0
75,0,3,male,25.00,0,0,7.6500,F G73,S,0,1,0,3,0,0,0,0,0
88,1,1,female,23.00,3,2,263.0000,C23 C25 C27,S,1,0,0,1,2,1,3,3,3
92,0,1,male,46.00,1,0,61.1750,E31,S,0,1,0,1,0,0,2,1,2
96,0,1,male,71.00,0,0,34.6542,A5,C,0,1,1,1,0,1,1,0,1
97,1,1,male,23.00,0,1,63.3583,D10 D12,C,1,1,1,1,1,0,2,0,2
102,0,1,male,21.00,0,1,77.2875,D26,S,0,1,0,1,1,0,2,0,2
110,0,1,male,47.00,0,0,52.0000,C110,S,0,1,0,1,0,0,1,0,1
118,0,1,male,24.00,0,1,247.5208,B58 B60,C,0,1,1,1,1,0,3,0,3
123,1,2,female,32.50,0,0,13.0000,E101,S,1,0,0,2,0,1,0,0,0
124,0,1,male,54.00,0,1,77.2875,D26,S,0,1,0,1,1,0,2,0,2
136,1,1,female,19.00,0,2,26.2833,D47,S,1,0,0,1,2,1,0,0,0
137,0,1,male,37.00,1,0,53.1000,C123,S,0,1,0,1,0,0,1,1,1
139,0,1,male,24.00,0,0,79.2000,B86,C,0,1,1,1,0,0,2,0,2
148,0,2,male,36.50,0,2,26.0000,F2,S,0,1,0,2,2,0,0,0,0
151,1,1,female,22.00,1,0,66.6000,C2,S,1,0,0,1,0,1,2,1,2
170,0,1,male,61.00,0,0,33.5000,B19,S,0,1,0,1,0,0,1,0,1
174,0,1,male,56.00,0,0,30.6958,A7,C,0,1,1,1,0,0,1,0,1
177,0,1,female,50.00,0,0,28.7125,C49,C,0,0,1,1,0,1,0,0,0
183,1,2,male,1.00,2,1,39.0000,F4,S,1,1,0,2,1,0,1,2,1
193,1,2,male,3.00,1,1,26.0000,F2,S,1,1,0,2,1,0,0,1,0
194,1,1,female,44.00,0,0,27.7208,B4,C,1,0,1,1,0,1,0,0,0
195,1,1,female,58.00,0,0,146.5208,B80,C,1,0,1,1,0,1,3,0,3
205,0,3,female,2.00,0,1,10.4625,G6,S,0,0,0,3,1,1,0,0,0
209,1,1,male,40.00,0,0,31.0000,A31,C,1,1,1,1,0,0,1,0,1
215,1,1,female,31.00,1,0,113.2750,D36,C,1,0,1,1,0,1,3,1,3
218,1,1,female,32.00,0,0,76.2917,D15,C,1,0,1,1,0,1,2,0,2
224,1,1,male,38.00,1,0,90.0000,C93,S,1,1,0,1,0,0,2,1,2
230,1,1,female,35.00,1,0,83.4750,C83,S,1,0,0,1,0,1,2,1,2
248,1,1,male,37.00,1,1,52.5542,D35,S,1,1,0,1,1,0,1,1,1
251,0,3,female,29.00,1,1,10.4625,G6,S,0,0,0,3,1,1,0,1,0
252,0,1,male,62.00,0,0,26.5500,C87,S,0,1,0,1,0,0,0,0,0
257,1,1,female,30.00,0,0,86.5000,B77,S,1,0,0,1,0,1,2,0,2
262,0,1,male,52.00,1,1,79.6500,E67,S,0,1,0,1,1,0,2,1,2
263,0,1,male,40.00,0,0,0.0000,B94,S,0,1,0,1,0,0,0,0,0
268,1,1,female,58.00,0,1,153.4625,C125,S,1,0,0,1,1,1,3,0,3
269,1,1,female,35.00,0,0,135.6333,C99,S,1,0,0,1,0,1,3,0,3
273,0,1,male,37.00,0,1,29.7000,C118,C,0,1,1,1,1,0,0,0,0
275,1,1,female,63.00,1,0,77.9583,D7,S,1,0,0,1,0,1,2,1,2
291,1,1,female,19.00,1,0,91.0792,B49,C,1,0,1,1,0,1,3,1,3
292,0,2,male,36.00,0,0,12.8750,D,C,0,1,1,2,0,0,0,0,0
297,0,1,female,2.00,1,2,151.5500,C22 C26,S,0,0,0,1,2,1,3,1,3
299,1,1,female,50.00,0,1,247.5208,B58 B60,C,1,0,1,1,1,1,3,0,3
305,1,1,male,0.92,1,2,151.5500,C22 C26,S,1,1,0,1,2,0,3,1,3
307,1,1,female,17.00,1,0,108.9000,C65,C,1,0,1,1,0,1,3,1,3
309,1,1,female,30.00,0,0,56.9292,E36,C,1,0,1,1,0,1,1,0,1
310,1,1,female,24.00,0,0,83.1583,C54,C,1,0,1,1,0,1,2,0,2
311,1,1,female,18.00,2,2,262.3750,B57 B59 B63 B66,C,1,0,1,1,2,1,3,2,3
318,1,1,female,31.00,0,2,164.8667,C7,S,1,0,0,1,2,1,3,0,3
319,1,1,female,40.00,1,1,134.5000,E34,C,1,0,1,1,1,1,3,1,3
325,1,1,female,36.00,0,0,135.6333,C32,C,1,0,1,1,0,1,3,0,3
327,1,2,female,36.00,0,0,13.0000,D,S,1,0,0,2,0,1,0,0,0
329,1,1,female,16.00,0,1,57.9792,B18,C,1,0,1,1,1,1,1,0,1
331,0,1,male,45.50,0,0,28.5000,C124,S,0,1,0,1,0,0,0,0,0
332,0,1,male,38.00,0,1,153.4625,C91,S,0,1,0,1,1,0,3,0,3
336,0,1,male,29.00,1,0,66.6000,C2,S,0,1,0,1,0,0,2,1,2
337,1,1,female,41.00,0,0,134.5000,E40,C,1,0,1,1,0,1,3,0,3
339,0,1,male,45.00,0,0,35.5000,T,S,0,1,0,1,0,0,1,0,1
340,1,2,male,2.00,1,1,26.0000,F2,S,1,1,0,2,1,0,0,1,0
341,1,1,female,24.00,3,2,263.0000,C23 C25 C27,S,1,0,0,1,2,1,3,3,3
345,1,2,female,24.00,0,0,13.0000,F33,S,1,0,0,2,0,1,0,0,0
356,1,1,female,22.00,0,1,55.0000,E33,S,1,0,0,1,1,1,1,0,1
366,1,1,female,60.00,1,0,75.2500,D37,C,1,0,1,1,0,1,2,1,2
369,1,1,female,24.00,0,0,69.3000,B35,C,1,0,1,1,0,1,2,0,2
370,1,1,male,25.00,1,0,55.4417,E50,C,1,1,1,1,0,0,1,1,1
377,0,1,male,27.00,0,2,211.5000,C82,C,0,1,1,1,2,0,3,0,3
390,1,1,male,36.00,1,2,120.0000,B96 B98,S,1,1,0,1,2,0,3,1,3
393,1,1,female,23.00,1,0,113.2750,D36,C,1,0,1,1,0,1,3,1,3
394,1,3,female,24.00,0,2,16.7000,G6,S,1,0,0,3,2,1,0,0,0
429,1,3,male,32.00,0,0,8.0500,E10,S,1,1,0,3,0,0,0,0,0
430,1,1,male,28.00,0,0,26.5500,C52,S,1,1,0,1,0,0,0,0,0
434,0,1,male,50.00,1,0,55.9000,E44,S,0,1,0,1,0,0,1,1,1
435,1,1,female,14.00,1,2,120.0000,B96 B98,S,1,0,0,1,2,1,3,1,3
438,0,1,male,64.00,1,4,263.0000,C23 C25 C27,S,0,1,0,1,4,0,3,1,3
445,1,1,male,4.00,0,2,81.8583,A34,S,1,1,0,1,2,0,2,0,2
449,1,1,male,52.00,0,0,30.5000,C104,S,1,1,0,1,0,0,1,0,1
452,0,1,male,30.00,0,0,27.7500,C111,C,0,1,1,1,0,0,0,0,0
453,1,1,male,49.00,1,0,89.1042,C92,C,1,1,1,1,0,0,2,1,2
456,0,1,male,65.00,0,0,26.5500,E38,S,0,1,0,1,0,1,0,0,0
460,1,1,male,48.00,0,0,26.5500,E12,S,1,1,0,1,0,0,0,0,0
462,0,1,male,47.00,0,0,38.5000,E63,S,0,1,0,1,0,0,1,0,1
473,1,2,female,23.00,0,0,13.7917,D,C,1,0,1,2,0,1,0,0,0
484,1,1,male,25.00,1,0,91.0792,B49,C,1,1,1,1,0,0,3,1,3
486,1,1,female,35.00,1,0,90.0000,C93,S,1,0,0,1,0,1,2,1,2
487,0,1,male,58.00,0,0,29.7000,B37,C,0,1,1,1,0,0,0,0,0
492,0,1,male,55.00,0,0,30.5000,C30,S,0,1,0,1,0,0,1,0,1
496,1,1,female,54.00,1,0,78.2667,D20,C,1,0,1,1,0,1,2,1,2
498,0,1,female,25.00,1,2,151.5500,C22 C26,S,0,0,0,1,2,1,3,1,3
504,1,1,female,16.00,0,0,86.5000,B79,S,1,0,0,1,0,1,2,0,2
505,0,1,male,18.00,1,0,108.9000,C65,C,0,1,1,1,0,0,3,1,3
512,1,1,male,36.00,0,0,26.2875,E25,S,1,1,0,1,0,0,0,0,0
515,0,1,male,47.00,0,0,34.0208,D46,S,0,1,0,1,0,0,1,0,1
516,1,2,female,34.00,0,0,10.5000,F33,S,1,0,0,2,0,1,0,0,0
520,1,1,female,30.00,0,0,93.5000,B73,S,1,0,0,1,0,1,3,0,3
523,1,1,female,44.00,0,1,57.9792,B18,C,1,0,1,1,1,1,1,0,1
536,0,1,male,45.00,0,0,26.5500,B38,S,0,1,0,1,0,0,0,0,0
539,1,1,female,22.00,0,2,49.5000,B39,C,1,0,1,1,2,1,1,0,1
540,1,1,female,36.00,0,2,71.0000,B22,S,1,0,0,1,2,1,2,0,2
544,0,1,male,50.00,1,0,106.4250,C86,C,0,1,1,1,0,0,3,1,3
550,1,1,male,17.00,0,2,110.8833,C70,C,1,1,1,1,2,0,3,0,3
556,1,1,female,48.00,1,0,39.6000,A16,C,1,0,1,1,0,1,1,1,1
558,1,1,female,39.00,1,1,79.6500,E67,S,1,0,0,1,1,1,2,1,2
571,1,1,female,53.00,2,0,51.4792,C101,S,1,0,0,1,0,1,1,2,1
572,1,1,male,36.00,0,0,26.3875,E25,S,1,1,0,1,0,0,0,0,0
577,1,1,female,39.00,1,0,55.9000,E44,S,1,0,0,1,0,1,1,1,1
581,1,1,female,39.00,1,1,110.8833,C68,C,1,0,1,1,1,1,3,1,3
583,0,1,male,36.00,0,0,40.1250,A10,C,0,1,1,1,0,0,1,0,1
585,1,1,female,18.00,0,2,79.6500,E68,S,1,0,0,1,2,1,2,0,2
587,1,1,male,60.00,1,1,79.2000,B41,C,1,1,1,1,1,0,2,1,2
591,1,1,female,52.00,1,0,78.2667,D20,C,1,0,1,1,0,1,2,1,2
599,1,1,male,49.00,1,0,56.9292,A20,C,1,1,1,1,0,0,1,1,1
609,1,1,female,40.00,0,0,153.4625,C125,S,1,0,0,1,0,1,3,0,3
618,1,2,female,4.00,2,1,39.0000,F4,S,1,0,0,2,1,1,1,2,1
621,1,1,male,42.00,1,0,52.5542,D19,S,1,1,0,1,0,0,1,1,1
625,0,1,male,61.00,0,0,32.3208,D50,S,0,1,0,1,0,0,1,0,1
627,1,1,female,21.00,0,0,77.9583,D9,S,1,0,0,1,0,1,2,0,2
630,1,1,male,80.00,0,0,30.0000,A23,S,1,1,0,1,0,1,0,0,0
632,1,1,male,32.00,0,0,30.5000,B50,C,1,1,1,1,0,0,1,0,1
641,1,1,female,24.00,0,0,69.3000,B35,C,1,0,1,1,0,1,2,0,2
645,1,1,male,48.00,1,0,76.7292,D33,C,1,1,1,1,0,0,2,1,2
647,1,1,male,56.00,0,0,35.5000,A26,C,1,1,1,1,0,0,1,0,1
659,0,1,male,58.00,0,2,113.2750,D48,C,0,1,1,1,2,0,3,0,3
662,0,1,male,47.00,0,0,25.5875,E58,S,0,1,0,1,0,0,0,0,0
671,0,1,male,31.00,1,0,52.0000,B71,S,0,1,0,1,0,0,1,1,1
679,1,1,male,36.00,0,1,512.3292,B51 B53 B55,C,1,1,1,1,1,0,3,0,3
681,1,1,male,27.00,0,0,76.7292,D49,C,1,1,1,1,0,0,2,0,2
689,1,1,female,15.00,0,1,211.3375,B5,S,1,0,0,1,1,1,3,0,3
690,1,1,male,31.00,1,0,57.0000,B20,S,1,1,0,1,0,0,1,1,1
698,0,1,male,49.00,1,1,110.8833,C68,C,0,1,1,1,1,0,3,1,3
699,0,3,male,42.00,0,0,7.6500,F G63,S,0,1,0,3,0,0,0,0,0
700,1,1,female,18.00,1,0,227.5250,C62 C64,C,1,0,1,1,0,1,3,1,3
701,1,1,male,35.00,0,0,26.2875,E24,S,1,1,0,1,0,0,0,0,0
707,1,1,male,42.00,0,0,26.2875,E24,S,1,1,0,1,0,0,0,0,0
710,1,1,female,24.00,0,0,49.5042,C90,C,1,0,1,1,0,1,1,0,1
712,1,1,male,48.00,1,0,52.0000,C126,S,1,1,0,1,0,0,1,1,1
715,0,3,male,19.00,0,0,7.6500,F G73,S,0,1,0,3,0,0,0,0,0
716,1,1,female,38.00,0,0,227.5250,C45,C,1,0,1,1,0,1,3,0,3
717,1,2,female,27.00,0,0,10.5000,E101,S,1,0,0,2,0,1,0,0,0
724,1,1,male,27.00,1,0,53.1000,E8,S,1,1,0,1,0,0,1,1,1
730,1,1,female,29.00,0,0,211.3375,B5,S,1,0,0,1,0,1,3,0,3
737,1,1,male,35.00,0,0,512.3292,B101,C,1,1,1,1,0,0,3,0,3
741,0,1,male,36.00,1,0,78.8500,C46,S,0,1,0,1,0,0,2,1,2
742,1,1,female,21.00,2,2,262.3750,B57 B59 B63 B66,C,1,0,1,1,2,1,3,2,3
745,0,1,male,70.00,1,1,71.0000,B22,S,0,1,0,1,1,1,2,1,2
748,0,1,male,19.00,1,0,53.1000,D30,S,0,1,0,1,0,0,1,1,1
751,1,3,male,6.00,0,1,12.4750,E121,S,1,1,0,3,1,0,0,0,0
759,1,1,female,33.00,0,0,86.5000,B77,S,1,0,0,1,0,1,2,0,2
763,1,1,female,36.00,1,2,120.0000,B96 B98,S,1,0,0,1,2,1,3,1,3
765,1,1,female,51.00,1,0,77.9583,D11,S,1,0,0,1,0,1,2,1,2
772,0,2,female,57.00,0,0,10.5000,E77,S,0,0,0,2,0,1,0,0,0
779,1,1,female,43.00,0,1,211.3375,B3,S,1,0,0,1,1,1,3,0,3
781,1,1,female,17.00,1,0,57.0000,B20,S,1,0,0,1,0,1,1,1,1
782,0,1,male,29.00,0,0,30.0000,D6,S,0,1,0,1,0,0,0,0,0
789,0,1,male,46.00,0,0,79.2000,B82 B84,C,0,1,1,1,0,0,2,0,2
796,1,1,female,49.00,0,0,25.9292,D17,S,1,0,0,1,0,1,0,0,0
802,1,1,male,11.00,1,2,120.0000,B96 B98,S,1,1,0,1,2,0,3,1,3
806,0,1,male,39.00,0,0,0.0000,A36,S,0,1,0,1,0,0,0,0,0
809,1,1,female,33.00,1,0,53.1000,E8,S,1,0,0,1,0,1,1,1,1
820,1,1,female,52.00,1,1,93.5000,B69,S,1,0,0,1,1,1,3,1,3
823,1,3,female,27.00,0,1,12.4750,E121,S,1,0,0,3,1,1,0,0,0
835,1,1,female,39.00,1,1,83.1583,E49,C,1,0,1,1,1,1,2,1,2
853,1,1,female,16.00,0,1,39.4000,D28,S,1,0,0,1,1,1,1,0,1
857,1,1,male,51.00,0,0,26.5500,E17,S,1,1,0,1,0,0,0,0,0
862,1,1,female,48.00,0,0,25.9292,D17,S,1,0,0,1,0,1,0,0,0
867,0,1,male,31.00,0,0,50.4958,A24,S,0,1,0,1,0,0,1,0,1
871,1,1,female,47.00,1,1,52.5542,D35,S,1,0,0,1,1,1,1,1,1
872,0,1,male,33.00,0,0,5.0000,B51 B53 B55,S,0,1,0,1,0,0,0,0,0
879,1,1,female,56.00,0,1,83.1583,C50,C,1,0,1,1,1,1,2,0,2
887,1,1,female,19.00,0,0,30.0000,B42,S,1,0,0,1,0,1,0,0,0
889,1,1,male,26.00,0,0,30.0000,C148,C,1,1,1,1,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 1 to 889
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            181 non-null    int64
 1   Pclass              181 non-null    int64
 2   Sex                 181 non-null    object
 3   Age                 181 non-null    float64
 4   SibSp               181 non-null    int64
 5   Parch               181 non-null    int64
 6   Fare                181 non-null    float64
 7   Cabin               181 non-null    object
 8   Embarked            181 non-null    object
 9   Survived_cate       181 non-null    object
 10  Sex1                181 non-null    object
 11  Embarked1           181 non-null    object
 12  Pclass_cate         181 non-null    object
 13  Parch_cate          181 non-null    object
 14  Age_above65_female  181 non-null    object
 15  Fare_cat            181 non-null    object
 16  SibSp_cate          181 non-null    object
 17  Fare_cate           181 non-null    object
dtypes: float64(2), int64(4), object(12)
memory usage: 26.9+ KB
None

In [29]:

#顯示所有行
pd.set_option('display.max_columns', None)
#顯示所有列
pd.set_option('display.max_rows', None)
#顯示行設定
pd.set_option('max_colwidth',100)

# complete_data=complete_data.dropna()

#執行 包裝法
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVC
#ValueError: could not convert string to float: 'Male'

x=complete_data[['Pclass_cate', 'Age_above65_female', 'SibSp_cate', 'Parch_cate', 'Fare_cate','Sex1', 'Embarked1']]
display(x)

y=complete_data['Survived']

estimator = SVC(kernel="linear")
selector = RFE(estimator, n_features_to_select=3, step=1)
selector = selector.fit(x, y)
## True= selected feature
print(selector.support_)
#Selected (i.e., estimated best) features are assigned rank 1.
ranking=selector.ranking_
print(ranking)
rfe_feature = x.loc[:,selector.support_].columns.tolist()
print(rfe_feature)

,Pclass_cate,Age_above65_female,SibSp_cate,Parch_cate,Fare_cate,Sex1,Embarked1
1,1,1,1,0,2,0,1
3,1,1,1,0,1,0,0
6,1,0,0,0,1,1,0
10,3,1,1,1,0,0,0
11,1,1,0,0,0,0,0
21,2,0,0,0,0,1,0
23,1,0,0,0,1,1,0
27,1,0,3,2,3,1,0
52,1,1,1,0,2,0,1
54,1,1,0,1,2,1,1
62,1,0,1,0,2,1,0
66,2,1,0,0,0,0,0
75,3,0,0,0,0,1,0
88,1,1,3,2,3,0,0
92,1,0,1,0,2,1,0
96,1,1,0,0,1,1,1
97,1,0,0,1,2,1,1
102,1,0,0,1,2,1,0
110,1,0,0,0,1,1,0
118,1,0,0,1,3,1,1
123,2,1,0,0,0,0,0
124,1,0,0,1,2,1,0
136,1,1,0,2,0,0,0
137,1,0,1,0,1,1,0
139,1,0,0,0,2,1,1
148,2,0,0,2,0,1,0
151,1,1,1,0,2,0,0
170,1,0,0,0,1,1,0
174,1,0,0,0,1,1,1
177,1,1,0,0,0,0,1
183,2,0,2,1,1,1,0
193,2,0,1,1,0,1,0
194,1,1,0,0,0,0,1
195,1,1,0,0,3,0,1
205,3,1,0,1,0,0,0
209,1,0,0,0,1,1,1
215,1,1,1,0,3,0,1
218,1,1,0,0,2,0,1
224,1,0,1,0,2,1,0
230,1,1,1,0,2,0,0
248,1,0,1,1,1,1,0
251,3,1,1,1,0,0,0
252,1,0,0,0,0,1,0
257,1,1,0,0,2,0,0
262,1,0,1,1,2,1,0
263,1,0,0,0,0,1,0
268,1,1,0,1,3,0,0
269,1,1,0,0,3,0,0
273,1,0,0,1,0,1,1
275,1,1,1,0,2,0,0
291,1,1,1,0,3,0,1
292,2,0,0,0,0,1,1
297,1,1,1,2,3,0,0
299,1,1,0,1,3,0,1
305,1,0,1,2,3,1,0
307,1,1,1,0,3,0,1
309,1,1,0,0,1,0,1
310,1,1,0,0,2,0,1
311,1,1,2,2,3,0,1
318,1,1,0,2,3,0,0
319,1,1,1,1,3,0,1
325,1,1,0,0,3,0,1
327,2,1,0,0,0,0,0
329,1,1,0,1,1,0,1
331,1,0,0,0,0,1,0
332,1,0,0,1,3,1,0
336,1,0,1,0,2,1,0
337,1,1,0,0,3,0,1
339,1,0,0,0,1,1,0
340,2,0,1,1,0,1,0
341,1,1,3,2,3,0,0
345,2,1,0,0,0,0,0
356,1,1,0,1,1,0,0
366,1,1,1,0,2,0,1
369,1,1,0,0,2,0,1
370,1,0,1,0,1,1,1
377,1,0,0,2,3,1,1
390,1,0,1,2,3,1,0
393,1,1,1,0,3,0,1
394,3,1,0,2,0,0,0
429,3,0,0,0,0,1,0
430,1,0,0,0,0,1,0
434,1,0,1,0,1,1,0
435,1,1,1,2,3,0,0
438,1,0,1,4,3,1,0
445,1,0,0,2,2,1,0
449,1,0,0,0,1,1,0
452,1,0,0,0,0,1,1
453,1,0,1,0,2,1,1
456,1,1,0,0,0,1,0
460,1,0,0,0,0,1,0
462,1,0,0,0,1,1,0
473,2,1,0,0,0,0,1
484,1,0,1,0,3,1,1
486,1,1,1,0,2,0,0
487,1,0,0,0,0,1,1
492,1,0,0,0,1,1,0
496,1,1,1,0,2,0,1
498,1,1,1,2,3,0,0
504,1,1,0,0,2,0,0
505,1,0,1,0,3,1,1
512,1,0,0,0,0,1,0
515,1,0,0,0,1,1,0
516,2,1,0,0,0,0,0
520,1,1,0,0,3,0,0
523,1,1,0,1,1,0,1
536,1,0,0,0,0,1,0
539,1,1,0,2,1,0,1
540,1,1,0,2,2,0,0
544,1,0,1,0,3,1,1
550,1,0,0,2,3,1,1
556,1,1,1,0,1,0,1
558,1,1,1,1,2,0,0
571,1,1,2,0,1,0,0
572,1,0,0,0,0,1,0
577,1,1,1,0,1,0,0
581,1,1,1,1,3,0,1
583,1,0,0,0,1,1,1
585,1,1,0,2,2,0,0
587,1,0,1,1,2,1,1
591,1,1,1,0,2,0,1
599,1,0,1,0,1,1,1
609,1,1,0,0,3,0,0
618,2,1,2,1,1,0,0
621,1,0,1,0,1,1,0
625,1,0,0,0,1,1,0
627,1,1,0,0,2,0,0
630,1,1,0,0,0,1,0
632,1,0,0,0,1,1,1
641,1,1,0,0,2,0,1
645,1,0,1,0,2,1,1
647,1,0,0,0,1,1,1
659,1,0,0,2,3,1,1
662,1,0,0,0,0,1,0
671,1,0,1,0,1,1,0
679,1,0,0,1,3,1,1
681,1,0,0,0,2,1,1
689,1,1,0,1,3,0,0
690,1,0,1,0,1,1,0
698,1,0,1,1,3,1,1
699,3,0,0,0,0,1,0
700,1,1,1,0,3,0,1
701,1,0,0,0,0,1,0
707,1,0,0,0,0,1,0
710,1,1,0,0,1,0,1
712,1,0,1,0,1,1,0
715,3,0,0,0,0,1,0
716,1,1,0,0,3,0,1
717,2,1,0,0,0,0,0
724,1,0,1,0,1,1,0
730,1,1,0,0,3,0,0
737,1,0,0,0,3,1,1
741,1,0,1,0,2,1,0
742,1,1,2,2,3,0,1
745,1,1,1,1,2,1,0
748,1,0,1,0,1,1,0
751,3,0,0,1,0,1,0
759,1,1,0,0,2,0,0
763,1,1,1,2,3,0,0
765,1,1,1,0,2,0,0
772,2,1,0,0,0,0,0
779,1,1,0,1,3,0,0
781,1,1,1,0,1,0,0
782,1,0,0,0,0,1,0
789,1,0,0,0,2,1,1
796,1,1,0,0,0,0,0
802,1,0,1,2,3,1,0
806,1,0,0,0,0,1,0
809,1,1,1,0,1,0,0
820,1,1,1,1,3,0,0
823,3,1,0,1,0,0,0
835,1,1,1,1,2,0,1
853,1,1,0,1,1,0,0
857,1,0,0,0,0,1,0
862,1,1,0,0,0,0,0
867,1,0,0,0,1,1,0
871,1,1,1,1,1,0,0
872,1,0,0,0,0,1,0
879,1,1,0,1,2,0,1
887,1,1,0,0,0,0,0
889,1,0,0,0,0,1,1

[False  True False  True False  True False]
[2 1 4 1 3 1 5]
['Age_above65_female', 'Parch_cate', 'Sex1']